<div class="panel panel-default">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="panel-title">
                        News Application
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="popover-title">
                        What Interests You?
                    </h2>
                </div>
                <div class="card-body">
                    <h3>#Technology</h3>
                    <h3>#Politics</h3>
                    <h3>#World</h3>
                    <h3>#Dogs</h3>
                    <h3>#Trending</h3>
                    <h3>#Sports</h3>
                </div>
            </div>
        </div>
        <div class="col-md-8 news-container">
            <h2>Headlines / Cards</h2>
            <div class="col-sm-8 news-card">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">News Article Title</h5>
                                <p class="card-subtitle mb-2 text-muted">Publisher</p>
                                <p class="card-text"> Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
                                <div class="news-tag">#YOLO #NICE</div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <img src="~/images/wireframe.png" class="card-img pr-1" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Published : 24/7/2019</small>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">News Article Title 2</h5>
                                <p class="card-subtitle mb-2 text-muted">Publisher</p>
                                <p class="card-text"> Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
                                <div class="news-tag">#YOLO #NICE</div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-center">
                            <img src="~/images/google_news.png" class="card-img pr-1" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Published : 24/7/2019</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>