@model News.Models.LoginRegisterForm
    <nav class="navbar navbar-inverse navbar-embossed navbar-expand-lg 
            d-flex flex-row justify-content-between align-items-center" role="navigation">
        <div class="email-text" id="email"></div>
        <div class="d-flex justify-content-between mr-2">
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                </button>
                <div class="dropdown-menu" id="settings_dropdown" aria-labelledby="dropdownMenuButton">
                    <input id="focus-switch" type="checkbox" name="focus-mode" data-size="large">
                    <label for="focus-switch">Focus mode</label> 
                    <input id="theme-switch" type="checkbox" name="focus-mode" checked data-size="large">
                    <label for="theme-switch">Change theme</label>

                    <div class="dropdown-divider"></div>
                    <input type="button" value="Profile" class="dropdown-item" onclick="location.href = '@Url.Action("Index", "Profile")'"/>
                </div>
            </div>
            <button id="logout-btn" class="btn btn-default ml-3" type="button"
                    onclick="logout()"
                    style="display: none">
                Logout
            </button>
            <button id="login-btn" class="btn btn-default ml-3" type="button"
                    data-type="Login"
                    data-toggle="modal"
                    data-target="#login-modal">
                Login
            </button>
            <button id="signup-btn" class="btn btn-primary ml-3" type="button"
                    data-type="Signup"
                    data-toggle="modal"
                    data-target="#login-modal">
                Sign Up
            </button>
        </div>
    </nav>
    <div id="focus-container">

    <div class="row">
        <div id="websites" class="col-lg-12 d-flex justify-content-around" overflow-auto>
            <div class="website-container" onclick="websiteClick(this)" value="1">
                <img src="~/images/cnn.png"/>
            </div>
            <div class="website-container selected" onclick="websiteClick(this)" value="3">
                <img src="~/images/BBC.png"/>
            </div>
            <div class="website-container" onclick="websiteClick(this)" value="7">
                <img src="~/images/CNBC.png"/>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="divider-md"></div>
        <div id="genres" class="genre-container col-lg-12" data-toggle="buttons" overflow-auto>
            @Html.Partial("_Genres")
        </div>
        <div class="divider-lg"></div>

    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-4" style="display: none">
        <div id="favourites" class="todo">
            <div class="todo-search">
                <input class="todo-search-field" type="search" onchange="searchFavourites(this)" placeholder="Search Favourites">
                <div class="fui-list" data-toggle="tooltip" onclick="toggleFavourites(this)" data-original-title="Click to expand or shrink favourites"></div>
            </div>
            <ul>
            </ul>
        </div>
    </div>
    <div class="col-md-8 d-flex flex-column align-items-center">
        <div class="todo-search w-100">
            <input id="article-search-field" class="todo-search-field" type="search" oninput="searchArticles(this)" placeholder="Search Articles">
        </div>
        <div id="articles" class="article-container">
            @Html.Partial("_Articles")
        </div>
    </div>
</div>


<!-- Login modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="login-modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="login-form">
                    <div class="form-group">
                        <label asp-for="LoginUserEmail" class="col-form-label"></label>
                        <input asp-for="LoginUserEmail" type="text" class="form-control" required
                               pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b">
                    </div>
                    <div class="form-group">
                        <label asp-for="LoginPassword" class="col-form-label"></label>
                        <input asp-for="LoginPassword" type="password" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary ml-2 btn-lg">Login</button>
                    </div>
                </form>
                <form id="signup-form" style="display: none">
                    <div class="form-group">
                        <label asp-for="RegisterEmail" class="col-form-label">Email</label>
                        <input asp-for="RegisterEmail" type="text" class="form-control" required
                               pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b">
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterUsername" class="col-form-label">Username</label>
                        <input asp-for="RegisterUsername" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterPassword" class="col-form-label">Password</label>
                        <input asp-for="RegisterPassword" type="password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterPasswordCheck" class="col-form-label">Repeat password</label>
                        <input asp-for="RegisterPasswordCheck" type="password" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary ml-2 btn-lg">Sign up</button>
                    </div>
                </form>
                <p id="response"></p>
            </div>
        </div>
    </div>
</div>