@model News.Models.LoginRegisterForm

<div class="panel panel-default">
    <div class="row">
        <div class="col-lg-12">
            <div class="card flex-row">
                <div class="card-body">
                    <h1 class="panel-title">
                        News Application
                    </h1>
                </div>

                <button class="btn btn-outline-dark btn-lg mr-1" type="button"
                        data-type="Login"
                        data-toggle="modal"
                        data-target="#login-modal">
                    LOGIN
                </button>
                <button class="btn btn-outline-dark btn-lg" type="button"
                        data-type="Signup"
                        data-toggle="modal"
                        data-target="#login-modal">
                    SIGN UP
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10" overflow-auto>
            <div class="card flex-row">
                <h2 class="panel-title">
                    Pick a Site:
                </h2>
                <div class="col-md-4 d-flex align-items-center">
                    <img src="~/images/cnn.png" class="card-img pr-1" id="CNN"/>
                </div>
                <div class="col-md-4 d-flex align-items-center">
                    <img src="~/images/BBC.png" class="card-img pr-1" id="BBC"/>
                </div>
            </div>
        </div>
        </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="popover-title">
                        What Interests You?
                    </h2>
                </div>
                <div class="card-body">
                    <div class="tag-btn-group d-flex flex-column" data-toggle="buttons">
                        @foreach (var item in ViewData["genres"] as List<Genre>)
                        {
                        <label class="btn btn-outline-dark tag-btn btn-lg">
                            <checkbox id="@item.genre" checked autocomplete="off" data-type="genre">#@item.genre</checkbox>
                        </label>
                        }
                 
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 d-flex flex-column overflow-auto align-items-center">
            <div id="cardView" class="col-sm-12 d-md-flex flex-column" style="max-height: 40em;">
                @Html.Partial("_Articles");
            </div>
        </div>
    </div>
</div>


<!-- Login modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="login-modal-title">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Index" asp-controller="Form" method="POST" id="login-form">
                    <div class="form-group">
                        <label asp-for="LoginUserEmail" class="col-form-label"></label>
                        <input asp-for="LoginUserEmail" type="text" class="form-control" required
                               pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b">
                    </div>
                    <div class="form-group">
                        <label asp-for="LoginPassword" class="col-form-label"></label>
                        <input asp-for="LoginPassword" type="password" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary ml-2 btn-lg">Login</button>
                    </div>
                </form>
                <form asp-action="Index" asp-controller="Form" method="POST" id="signup-form" style="display: none">
                    <div class="form-group">
                        <label asp-for="RegisterEmail" class="col-form-label">Email</label>
                        <input asp-for="RegisterEmail" type="text" class="form-control" required
                               pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b">
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterUsername" class="col-form-label">Username</label>
                        <input asp-for="RegisterUsername" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterPassword" class="col-form-label">Password</label>
                        <input asp-for="RegisterPassword" type="password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegisterPasswordCheck" class="col-form-label">Repeat password</label>
                        <input asp-for="RegisterPasswordCheck" type="password" class="form-control" required>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary ml-2 btn-lg">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
