/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.tag-btn {
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.tag-btn-group > .tag-btn > input[type="checkbox"] {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}